# Node.js dependencies
node_modules/
dist/

# Data and logs
data/
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Build output
build/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
package-lock.json
yarn.lock
bun.lockb

# TypeScript cache
*.tsbuildinfo