# Node.js dependencies
node_modules/
dist/

# Log files
logs/
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
chains.json
good_ips.json
rejected_ips.json

# lock file
yarn.lock
