# Node.js dependencies
node_modules/
dist/

# Log files
*.log
# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Caddy log files
/var/log/*.log

# Miscellaneous
chains.json
node_modules
# Yarn lock file
yarn.lock
