{
  servers {
    listener_wrappers {
      proxy_protocol {
        timeout 2s
        allow 127.0.0.1/24
      }
    }
    automatic_https {
      disable_redirects
    }
  }
}

http://rpc-lb.*.example.com {
  reverse_proxy http://localhost:3000
}
